:root {

    /* =========================
       Background
    ========================= */

    --bg: #E8E1D5;

    --surface: #F0ECE3;

    --card: #DFD3C3;

    /* =========================
       Main Colors
    ========================= */

    --primary: #C7B198;

    --secondary: #B79E82;

    --accent: #A68DAD;

    /* =========================
       Text
    ========================= */

    --text: #433B34;

    --text-secondary: #6A6057;

    /* =========================
       Glass
    ========================= */

    --glass: rgba(240, 236, 227, .60);

    --glass-border: rgba(166, 141, 173, .15);

    /* =========================
       Gradient
    ========================= */

    --gradient1: #F0ECE3;

    --gradient2: #DFD3C3;

    --gradient3: #C7B198;

    --gradient4: #A68DAD;

    /* =========================
       Blob
    ========================= */

    --blob1: #C7B198;

    --blob2: #A68DAD;

    /* =========================
       Shadow
    ========================= */

    --shadow: rgba(0, 0, 0, .18);

}