:root {

    /* =========================
       Background
    ========================= */

    --bg: #24171E;

    --surface: #321F28;

    --card: #3B2530;

    /* =========================
       Main Colors
    ========================= */

    --primary: #A05344;

    --secondary: #734046;

    --accent: #E79E4F;

    /* =========================
       Text
    ========================= */

    --text: #FFF5E8;

    --text-secondary: #D9C4AF;

    /* =========================
       Glass
    ========================= */

    --glass: rgba(50, 31, 40, .60);

    --glass-border: rgba(231, 158, 79, .10);

    /* =========================
       Gradient
    ========================= */

    --gradient1: #24171E;

    --gradient2: #321F28;

    --gradient3: #734046;

    --gradient4: #A05344;

    /* =========================
       Blob
    ========================= */

    --blob1: #734046;

    --blob2: #E79E4F;

    /* =========================
       Shadow
    ========================= */

    --shadow: rgba(0, 0, 0, .35);

}